/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
.header-img {
    width: 100%;
    height: auto;
    display: block;
}
p {
    text-align: center;
    font-family: 'Truculenta', sans-serif;
    font-size: 24px;

}
h1 {
    font-family:'Codystar', sans-serif;
    text-align: center;
     font-weight: bold;
     font-size: 52px;
}
h2 {
    font-family:'Codystar', sans-serif;
    text-align: center;
     font-weight: bold;
     font-size: 24px;
}
h3 {
    font-family: 'Truculenta', sans-serif;
    font-size: 24px;

}
.bg-light {
    --bs-bg-opacity: 1;
    background-color:#FF7F7F !important;
}
.med-img {
  width: 80%;
    margin: 0 auto;
}
.navbar {
    background-color: #FF7F7F !important;}

.thumbnail-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-primary {
    font-family:'Codystar', sans-serif;
    text-align: center;
     font-weight: bold;
     font-size: 24px;
}

